@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
body
{ font-family: 'Montserrat', sans-serif;}
.size
{font-size:48px;}
.text
{font-size: 14px;}
.subtitle
{font-size: 18px;}


.red 
{color: red;}